.loading {
  --loading-duration: 0.7s;
  --loading-stagger: 0.5s;
  --loading-interval: calc(var(--loading-duration) - var(--loading-stagger));
  animation: load var(--loading-duration) ease-in
    calc(var(--loading-interval) * var(--loading-index)) infinite both;
}

@keyframes load {
  0%,
  100% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(1);
    opacity: 0.7;
  }
}
